@import url("https://fonts.googleapis.com/css2?family=Coming+Soon&family=Concert+One&family=Handlee&family=Mali&display=swap");


body{
    background: linear-gradient(seashell,wheat);
    height: 100vh;
    font-family: "Mali", cursive;
    text-align: center;
    font-size: 30px;
}
#h1{
    color: purple;
}
#h2{
    color: dodgerblue;
}
#h3{
    color: lightblue;
}